<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="ImgUrlTemplate" value="http://i.imgur.com/{0}.png"/>
    <add key="UploadUrl" value="https://api.imgur.com/3/image"/>
    <add key="AuthHeader" value="Authorization: Client-ID 02aa55f72160611"/>
    <add key="ConfigPath" value="Settings.config"/>
  </appSettings>
</configuration>
